body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("/home/differenz93/Desktop/vijay_bokade/Expense_Tracker/expense-tracker-frontend/src/assets/exp-tracker-logo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Form Card */
.signup-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Title */
.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Button */
.signup-form button {
  width: 100%;
  padding: 10px;
  background: #4cafef;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background: #3a9edb;
}
.signup-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  top: 0;
  left: 0;
}
.signup-form {
  position: relative;
  z-index: 1;
}
.signup-form {
  backdrop-filter: blur(10px);
}